html, body {
  height: 100%;
}

#main {
  height: 100%;
  display: flex;
  flex-flow: column;
  padding-bottom: 15px;
}
  #chat, #history {
    margin-bottom: 3px;
  }
  #history {
    display: flex;
    flex: 1 1 20%;
    flex-direction: column;
    overflow: auto;
    padding: 1.5px;
  }
  #chat {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
    #typeSomethingContainer {
      flex-grow: 1;
    }
    #chatBtnContainer {
      flex-grow: 0;
    }

.userMessageBody {
  text-align: right;
}
.messageBody {
  white-space: pre-line;
}
