body {
  background-color: #81c56a;
}
#main {
  display: flex;
  flex-flow: column;
  padding: 10px 20px;
}
  #history {
    display: flex;
    flex: 1 1 20%;
    flex-direction: column;
    overflow: auto;
  }
  #chat {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
    #typeSomethingContainer {
      flex-grow: 1;
    }
    #chatBtnContainer {
      flex-grow: 0;
    }
.userMessageBody {
  text-align: right;
}
.messageBody {
  white-space: pre-line;
}
